/* Start Variables */
:root {
  --main-color:#19c8fa;
  --transparent-color:rgb(15 116 143 / 60%);
  --section-padding:100px;
}
/* End Variables */
/* Start Golbal Ruls  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}
/* small */
@media (min-wdth: 768px) {
  .container {
    width: 750px;
  }
}

/* meduim */

@media (min-wdth: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-wdth: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Golbal Ruls */
/* Start Components */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-size: 40px;
  font-weight: normal;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  height: 2px;
  width: 120px;
  background-color: #333;
}
.main-heading h2::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -38px;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border: 2px solid #333;
  border-radius:50% ;
  background-color: white;

}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  color: #777;
  line-height: 2;
}
/* End Components */
/* Start header */
header {
  padding: 0 30px;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #a2a2a2;
  position: relative;
  min-height: 97px;
}
header .logo img {
  height: 40px;
}
header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .toogle-menu {
  color: white;
  font-size: 22px;
}
@media(min-width:786px) {
  .toogle-menu {
    display: none;
  }
}
header nav ul {
  display: flex;
}
@media (max-width:767px) {
  header nav ul {
    display: none;
  }
  .toogle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 /  50%);
  }
  .toogle-menu:hover + ul li a {
    padding: 15px;
  }
}
header nav ul a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: 0.3s;
  padding: 40px 10px;
} 
nav ul a.active{
  color: var(--main-color);
  border-bottom: solid 0.5px var(--main-color);
}
nav ul a:hover{
  color: var(--main-color);  
}
header .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid white;
}
header .form i {
  color: white;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* End header */
/* Start Landing */
.landing {
  min-height: 100vh;
  background-color: #010254;
  background-image: url(../imges/landing.jpg);
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /  60%);
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 20px 50px;
  background-color:  var(--transparent-color);
  color:  white;
  display: flex;
  justify-content: end;
}
@media (max-width:767px) {
  .landing .text {
    width: 100%;
  }
  .landing .text .content {
    width: 100%;
  }
}
.landing .text .content {
  max-width: 500px;
}
.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .text .content p {
  font-size: 14px;
  line-height: 2;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
@media (max-width:767px) {
  .landing .change-background {
    display: none;
  }
}
.landing .fa-angle-left{
  left: 20px;
}
.landing .fa-angle-right{
  right: 20px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  display: flex;
}
.landing .bullets li {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}
.landing .bullets li.active {
  background-color: var(--main-color);
  border:1px solid var(--main-color) ;
}
/* End Landing */
/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
@media (min-width:768px) {
  .services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    column-gap: 40px;
    row-gap: 60px;
  }
}
.services .srv-box {
  display: flex;
  margin-bottom: 20px;
}
.services .srv-box i {
  margin-right: 50px;
}
@media (max-width:768px) {
  .services .srv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .services .srv-box i {
    margin: 30px auto;

  }
}
.services .srv-box .text h3 {
  color: var(--main-color);
  margin-bottom: 30px;
}
.services .srv-box .text p {
  line-height: 2;
  color: #777;
}
/* End Services */
/* Start Design */
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 600px;
  position: relative;
  background-image: url(../imges/design-features.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.design::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0  0  0 / 70%);
}
.design .image {
  text-align: center;
}
.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}
.design .image img {
  position: relative;
  bottom: -150px;
}
.design .text {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}
@media (max-width:768px) {
  .design .image {
    display: none;
  }
}
.design .text h2 {
  font-weight: normal;
  margin-bottom:40px ;
  text-transform: uppercase;
}
.design .text ul li {
  padding: 15px 0;
}
.design .text ul li::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f108';
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}
/* End Design */
/* Start Portfolio */
.protfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.protfolio .shuffle {
  display: flex;
  justify-content: center;
}
.protfolio .shuffle li {
  padding: 10px;
}
.protfolio .shuffle li.active {
  background-color: var(--main-color);
  color: white;
}
.protfolio .imges-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.protfolio .imges-container .box {
  position: relative;
  overflow: hidden;
}
.protfolio .imges-container .box:hover .caption {
  bottom: 0;
}
.protfolio .imges-container .box:hover img {
  transform: rotate(5deg) scale(1.1);
}
@media (min-width:768px) {
.protfolio .imges-container .box {
  flex-basis: 50%;
}
}
@media (min-width:1119px) {
.protfolio .imges-container .box {
  flex-basis: 25%;
}
}
.protfolio .imges-container img {
  max-width: 100%;
  transition: 0.3s;
}
.protfolio .imges-container .box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
  bottom: -100%;
}
.protfolio .imges-container .box .caption h4 {
  font-weight: bold;
  margin-bottom: 20px;
}
.protfolio .imges-container .box .caption p {
  color: var(--main-color);
}
.protfolio .more {
  background-color: var(--main-color);
  display: block;
  width: fit-content;
  margin: 30px auto;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
/* End Portfolio */
/* Start Video */
.video {
  position: relative;
}
.video::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0  0  0 / 40%);
}
.video video {
  width: 100%;
}
.video .text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 50px;
  color: white;
  background-color: var(--transparent-color);
  text-align: center;
}
.video .text h2 {
  font-weight: normal;
  margin: 0 0 30px;
}
.video .text p {
  margin-bottom: 20px;
}
.video .text button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
}
/* End Video */
/* Start About */
.about {
  padding-top: var(--section-padding);
  text-align: center;
  overflow: hidden;
}
.about img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}
@media (max-width:768px) {
  .about img {
    bottom: -60px;
  margin-top: -60px;
  }
}
/* End About */
/* start stats */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
  background-image: url(../imges/stats.png);
  background-size: cover;
  position: relative;
}
.stats::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0  0  0 / 70%);
}
.stats .container {
  position: relative; 
  display: flex;
  flex-wrap: wrap;
}
.stats .container .box {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}
@media (max-width:768px) {
  .stats .container .box {
    flex-basis: 100%;
  }
}
@media (min-width:768px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}
@media (min-width:992px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}
.stats .container .box i {
  font-size: 20px;
  height: 40px;
  width: 40px;
  display: flex;
  background-color: black;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
}
.stats .container .box .number{
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 20px;
}
/* End stats */
/* Start Skills */
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.our-skills .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media(min-width:991px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}
.our-skills .container > div > h3 {
  font-weight: normal;
  text-align: center;
  margin: 0 0 40px;
  text-transform: uppercase;
}
.our-skills .container > div >p {
  color: #777;
  margin-bottom: 30px;
  text-align: center;
  line-height: 2;
}
.our-skills .testimonials .content {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}
.our-skills .testimonials .content img {
  width: 100px;
  border-radius: 50%;
  margin-right: 50px;
}
@media (max-width:767px) {
  .our-skills .testimonials .content {
  text-align: center;
  flex-direction: column;
  }
  .our-skills .testimonials .content img {
    margin: 0 auto 20px;
  }
}
.our-skills .testimonials .content .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}
.our-skills .testimonials .content .text p {
  text-align: right;
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
}
.our-skills .testimonials .bullets{
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.our-skills .testimonials .bullets li {
  width: 14px;
  height: 14px;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin-right: 10px;
}
.our-skills .testimonials li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.our-skills .prog-holder {
  margin-bottom: 40px;
}
.our-skills .prog-holder h4 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}
.our-skills .prog-holder .prog {
  background-color: #dedadc;
  height: 30px;
}
.our-skills .prog-holder .prog span {
  display: block;
  height: 100%;
  background-color: var(--main-color);
  position: relative;
}
.our-skills .prog-holder .prog span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  color: white;
  top: -40px;
  right: -18px;
  padding: 4px 0;
  width: 40px;
  text-align: center;
  border-radius: 4px;
}
.our-skills .prog-holder .prog span::after {
  content: '';
  position: absolute;
  border-width: 8px;
  border-style: solid;
  border-color: black transparent transparent;
  right: -8px;
  top: -14px;
}
/* End Skills */
/* Start quote */
.quote {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../imges/quote.jpg);
  background-size: cover;
  text-align: center;
  position: relative;
  color: white;
}
.quote::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /  75%);
}
.quote .container {
  position: relative;
}
.quote q {
  display: block;
  font-size: 30px;
  margin-bottom: 20px;
}
.quote q::before{
  font-family: "Font Awesome 5 Free";
  content:"\f10e";
  font-weight: 900;
  margin-right: 10px;
}
.quote q::after{
  font-family: "Font Awesome 5 Free";
  content:"\f10d";
  font-weight: 900;
  margin-left: 10px;
}
/* End quote */
/* Start pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(250px , 1fr ));
  gap: 30px;
}
.pricing .plan {
  background-color: #fcfcfc;
  text-align: center;
}
.pricing .plans .head {
  padding: 40px 20px;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}
.pricing .plans .head h3 {
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.pricing .plans .head Span {
  font-size: 50px;
  font-weight: bold;
}
.pricing .plans .head Span::before {
  content: '$';
  font-size: 25px;
  position: relative;
  top: -30px;
  left: -10px;
  font-weight: normal;
}
.pricing .plans .head Span::after {
  content: '/MO';
  font-size: 20px;
  position: relative;
  right: -10px;
}
.pricing .plan ul {
  border-bottom: 2px solid var(--main-color);
}
.pricing .plan ul li {
  padding: 20px;
  position: relative;
}
.pricing .plan ul li:not(:last-child)::after {
  content: '';
  width: 140px;
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.pricing .foot a {
  display: block;
  text-decoration: none;
  padding: 20px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  width: fit-content;
  margin: 30px auto;
  color: black;
}
.pricing .contact-text {
  text-align: center;
  margin: 50px auto 30px;
  font-size: 20px;
}
.pricing .contact-link {
  display: block;
  width: fit-content;
  margin: 20px auto;
  background-color: var(--main-color);
  text-decoration: none;
  color: white;
  padding: 20px;
  border-radius:10px ;
}
/* End pricing */
/* Start Subscribe */
.subscribe {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../imges/subscribe.jpg);
  background-size: cover;
  color: white;
  position: relative;
}
.subscribe::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0  0  0 / 50%);
}
.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width:991px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}
.subscribe form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}
.subscribe form input[type="email"] {
  border: 1px solid white;
  background: none;
  padding: 20px 20px 20px 60px;
  caret-color: var(--main-color);
  width: calc(100% - 130px);
  border-right:none ;
}
.subscribe form input[type="submit"] {
  width: 130px;
  background-color: var(--main-color);
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  border-left: none;
}
.subscribe form::placeholder {
  color: white;
}
.subscribe form input[type="email"]:focus
.subscribe form input[type="submit"]:focus {
  outline: none;
}
.subscribe p {
  line-height: 2;
  margin-left:50px;
}
@media (max-width:991px) {
  .subscribe p {
    margin: 20px 0 0;
  }
}
/* End Subscribe */
/* Start contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width:767px) {
  .contact .content {
    flex-direction: column;
  }
}
.contact .content form {
  flex-basis: 70%;
}
.contact .content form .main-input{
  display: block;
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}
.contact .content form .main-input:focus {
  outline: none;
}
.contact .content form textarea.main-input {
  height: 200px;
}
.contact .content input[type="submit"] {
  padding: 20px;
  border: none;
  background-color: var(--main-color);
  color: white;
  border-radius: 10px;
  display: flex;
  margin-left: auto;
  text-transform: uppercase;
  cursor: pointer;
}
.contact .content .info {
  flex-basis: 25%;
}
@media (max-width:767px) {
  .contact .content .info {
    order: -1;
    text-align: center;
    margin-bottom: 20px;
  }
}
.contact .content .info h4 {
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}
.contact .content .info .phone {
  display: block;
  margin-bottom: 10px;
  color: #777;
}
.contact .content .info h4:nth-of-type(2) {
  margin-top: 90px;
}
@media (max-width:767px) {
  .contact .content .info h4:nth-of-type(2) {
    margin-top: 30px;
  }
}
.contact .content .info  address {
  color: #777;
  line-height: 2;
}
/* End contact */
/* Start Footer */
.footer {
  padding-top: calc(var(--section-padding/2));
  padding-bottom: calc(var(--section-padding/2));
  text-align: center;
  position: relative;  
  background-color: var(--transparent-color);
  color: white;
}
.footer::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /  50%);
}
.footer .container {
  position: relative;
  padding: 20px;
}
.footer img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.footer p:not(.copyright) {
  text-transform: uppercase;
  font-size: 22px;
  padding: 10px;
  border-bottom: 1px solid white;
  font-weight: bold;
  width: fit-content;
  margin: 0 auto;
}
.footer .social-icons i {
  padding: 20px;
}
.footer .copyright {
  margin-top: 20px;
}
.footer span {
  font-weight: bolder;
  font-size: 20px;
  color: var(--main-color);
}
/* End Footer */